# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=theappwork
DB_SCHEMA=kitchen-eyes

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=securepassword

# App
PORT=3000
NODE_ENV=development
